
html {
  background: rgb(30, 30, 30);
}

body {
  margin: 0;
}

input:focus {
  outline: none;
  outline-offset: none;
}

.container {
  display: flex;
  height: 100vh;
}

.login-form {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: rgb(230,230,230);
}

.login-display .login-form {
  display: block;
}

.login-display .room {
  display: none;
}

.room-display .login-form {
  display: none;
}

.room-display .room {
  display: flex;

  width: 100%;
}

.remote-streams,
.local-streams {
  flex-grow: 1;
  min-width: 0;
  background: rgb(40, 40, 40);
}

.remote-streams video {
  width: 100%;
}

.local-streams video {
  display: block;
  margin: auto;
  width: 500px;
}

.chat-area {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  flex-shrink: 0;
}

.messages {
  flex-grow: 1;
  overflow: auto;
  color: rgb(230,230,230);
}

.messages p {
  margin: 0;
  padding: 0;
}

.messages p:nth-of-type(even) {
  background: rgb(40, 40, 40);
}

.chat-controller {
  text-align: center;
  padding: 5px 0 10px;
}

